In [1]:
import pandas as pd, numpy as np
from pathlib import Path

In [2]:
root_folderpath = Path(r"C:\Users\jasonjia\Dropbox\shared_spaces\Jason-Kilian\Danish Macro\disaggregated_accounts\process_data_for_tableau")
df1_filepath = Path(root_folderpath / r"data\matrices_individual\Domestic consumer spending matrix (predicted).csv")
df2_filepath = Path(root_folderpath / r"data\matrices_individual\Labor compensation.csv")

# Check domestic consumer spending matrix (predicted)

In [3]:
df1 = pd.read_csv(df1_filepath, low_memory=False)
df1

,cust_muni,cust_sector,cust_cell,spend_muni,spend_sector,spend_cell,s_
0,101,s01,r101_s01,101,s01,r101_s01,4.926803e+06
1,101,s01,r101_s01,101,s02,r101_s02,1.485811e+06
2,101,s01,r101_s01,101,s03,r101_s03,1.380641e+07
3,101,s01,r101_s01,101,s04,r101_s04,8.131875e+06
4,101,s01,r101_s01,101,s05,r101_s05,5.603548e+06
...,...,...,...,...,...,...,...
4571499,860,s28,r860_s28,860,s17,r860_s17,2.050588e+06
4571500,860,s28,r860_s28,860,s18,r860_s18,2.543540e+05
4571501,860,s28,r860_s28,860,s77,r860_s77,1.232969e+06
4571502,860,s28,r860_s28,860,s88,r860_s88,1.433188e+07
4571503,860,s28,r860_s28,860,s99,r860_s99,5.854713e+06

In [4]:
# Where do consumers living in KÃ¸benhavn spend?
df1_consumer = df1[df1['cust_muni'] == 101].groupby(['spend_muni']).sum()['s_'].reset_index()
df1_consumer['share'] = np.round(df1_consumer['s_'] / df1_consumer['s_'].sum() * 100, 3)
assert(df1_consumer.iloc[0,2] == 5.417) # Check Copenhagen
assert(df1_consumer.iloc[1,2] == 2.771) # Check Frederiksberg
df1_consumer

    spend_muni            s_  share
0          101  3.272459e+09  5.417
1          147  1.673906e+09  2.771
2          151  1.134983e+09  1.879
3          153  1.145600e+09  1.896
4          155  1.068519e+09  1.769
..         ...           ...    ...
93         840  2.752429e+08  0.456
94         846  2.818845e+08  0.467
95         849  2.888698e+08  0.478
96         851  4.856883e+08  0.804
97         860  3.218756e+08  0.533

[98 rows x 3 columns]

In [5]:
# Where do the Danish consumers of KÃ¸benhavn producers live?
df1_producer = df1[df1['spend_muni'] == 101].groupby(['cust_muni']).sum()['s_'].reset_index()
df1_producer['share'] = np.round(df1_producer['s_'] / df1_producer['s_'].sum() * 100, 3)
assert(df1_producer.iloc[0,2] == 2.294) # Check Copenhagen
assert(df1_producer.iloc[1,2] == 1.791) # Check Frederiksberg
df1_producer

    cust_muni            s_  share
0         101  3.272459e+09  2.294
1         147  2.555154e+09  1.791
2         151  1.863396e+09  1.306
3         153  2.015966e+09  1.413
4         155  1.961468e+09  1.375
..        ...           ...    ...
93        840  1.090769e+09  0.765
94        846  1.097903e+09  0.770
95        849  1.096756e+09  0.769
96        851  1.230335e+09  0.863
97        860  1.118570e+09  0.784

[98 rows x 3 columns]

# Check labor compensation matrix

In [6]:
df2 = pd.read_csv(df2_filepath, low_memory=False)
df2

,cust_cell,prod_cell,comp_,prod_muni,prod_sector,cust_muni,cust_sector
0,r101_s01,r101_s01,2.534114e+09,101,s01,101,s01
1,r101_s01,r101_s02,8.997349e+06,101,s02,101,s01
2,r101_s01,r101_s03,5.806542e+06,101,s03,101,s01
3,r101_s01,r101_s04,1.092552e+07,101,s04,101,s01
4,r101_s01,r101_s05,2.818032e+05,101,s05,101,s01
...,...,...,...,...,...,...,...
7260619,r860_s28,r860_s26,0.000000e+00,860,s26,860,s28
7260620,r860_s28,r860_s27,0.000000e+00,860,s27,860,s28
7260621,r860_s28,r860_s77,0.000000e+00,860,s77,860,s28
7260622,r860_s28,r860_s88,0.000000e+00,860,s88,860,s28
7260623,r860_s28,r860_s99,0.000000e+00,860,s99,860,s28

In [7]:
# Where does labor compensation paid by producers in KÃ¸benhavn flow to?
df2_producer = df2[df2['prod_muni'] == 101].groupby(['cust_muni']).sum()['comp_'].reset_index()
df2_producer['share'] = np.round(df2_producer['comp_'] / df2_producer['comp_'].sum() * 100, 2)
assert(df2_producer.iloc[0,2] == 43.88) # Check Copenhagen
assert(df2_producer.iloc[1,2] == 7.50) # Check Frederiksberg
df2_producer

    cust_muni         comp_  share
0         101  8.147958e+10  43.88
1         147  1.392552e+10   7.50
2         151  2.169412e+09   1.17
3         153  1.509783e+09   0.81
4         155  1.499977e+09   0.81
..        ...           ...    ...
93        840  4.788160e+07   0.03
94        846  6.086330e+07   0.03
95        849  5.301315e+07   0.03
96        851  6.003473e+08   0.32
97        860  6.399310e+07   0.03

[98 rows x 3 columns]

In [8]:
# Where does labor compensation to consumers in KÃ¸benhavn come from?
df2_consumer = df2[df2['cust_muni'] == 101].groupby(['prod_muni']).sum()['comp_'].reset_index()
df2_consumer['share'] = np.round(df2_consumer['comp_'] / df2_consumer['comp_'].sum() * 100, 2)
assert(df2_consumer.iloc[0,2] == 57.74) # Check Copenhagen
assert(df2_consumer.iloc[1,2] == 4.29) # Check Frederiksberg
df2_consumer

    prod_muni         comp_  share
0         101  8.147958e+10  57.74
1         147  6.060772e+09   4.29
2         151  4.263596e+09   3.02
3         153  2.090511e+09   1.48
4         155  2.408180e+08   0.17
..        ...           ...    ...
93        840  8.313643e+06   0.01
94        846  1.694778e+07   0.01
95        849  9.989483e+06   0.01
96        851  2.039812e+08   0.14
97        860  2.823374e+07   0.02

[98 rows x 3 columns]